h2 {
    font-family: fantasy;
    color: firebrick;
    font-size: 40px;
}

h1{
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;

}

.vermelho{
    color: #ff0000;
}

.violet{
    color: blueviolet;
}

.texto_grande{
    font-size: 60px;
}
.titulo_2{
background-color: #ff0000;
}

.titulo_2-1{
    background-color: #ff0000;
}